## اضافه‌کردن کتابخانه‌های مورد نیاز

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import joblib
import numpy as np

## داده
در فایل `magazine.csv` در کنار همین نوت‌بوک قرار دارد و اندیس آن ستون `id` است. و خروجی مدل ستون `Buy` است.
-`stratify = y , random_state=45, test_size= 0.2` قرار دهید. هنگام تقسیم کردن داده به دو قسمت آموزش و آزمون

In [17]:
df = pd.read_csv('magazine.csv', index_col = 'id')
df

     Income  Residence Length  Is Married  Is Female  Has College  Buy
id
0     24000                26           0          1            1    0
1     75000                15           1          1            1    1
2     46000                36           1          1            0    0
3     70000                55           1          0            0    1
4     43000                27           0          1            0    0
..      ...               ...         ...        ...          ...  ...
668   27000                 6           0          1            0    0
669    3000                11           0          1            0    0
670   75000                52           1          1            0    1
671   51000                10           1          1            0    1
672   11000                11           1          0            0    0

[673 rows x 6 columns]

In [18]:
y = df['Buy']
X = df.drop(columns ='Buy')

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify = y,test_size = 0.2, random_state = 45)

## مدل
- هنگام ساختن مدل رگرسیون لجستیکی `random_state` را برابر 45 قرار دهید.
- مدل را با استفاده از کتابخانه‌ی `joblib` در فایل `model.pkl` ذخیره کنید.
- می‌توانید ماژول `joblib` را از `sklearn.externals` بخوانید یا (در روش جدیدتر) آنرا به عنوان یک کتابخانه جدا با `pip` نصب و استفاده کنید.

In [20]:
logistic = LogisticRegression()

In [21]:
clf_logistic = logistic.fit(X_train,y_train)

c:\users\reza\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [22]:
y_pred_logistic = logistic.predict(X_test)

In [23]:
acc_logistic = accuracy_score(y_test,y_pred_logistic)
acc_logistic
joblib.dump(clf_logistic,'model.pkl')

['model.pkl']

## ارسال پاسخ
ابتدا نوت‌بوک را ذخیره و سپس گزینه‌ی ارسال پاسخ را انتخاب کنید تا مدل به همراه این نوت‌بوک ارسال شود.