In [1]:
#in His Name

# اضافه کردن کتاب‌خانه‌های مورد نیاز

در صورتیکه کتاب‌خانه‌ها را تاکنون نصب نکرده‌اید، به کمک دستورات زیر این کتاب‌خانه‌ها را اضافه نمایید

In [ ]:
!pip install pandas
!pip install matplotlib
!pip install numpy
!pip install datetime
!pip install tqdm
!pip install sklearn

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from tqdm import tqdm
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

ابتدا فایل
`notifications.csv`
که همراه با این نوت‌بوک دانلود کرده‌اید را به وسیله‌ی کتابخانه
`pandas`
می‌خوانیم

In [3]:
interactions = pd.read_csv('notifications.csv')

In [4]:
interactions

       action  application_id  interaction_time  notification_id  user_id
0           F               1           4489200               79      665
1           F               1           4489200               79     6280
2           F               1           4388400               78    14774
3           F               1           4410000               78     3152
4           C               1           4410000               72     3633
...       ...             ...               ...              ...      ...
140723      F               0            993600               13    14760
140724      F               0            928800               13     2096
140725      F               0            900000               13    11308
140726      F               0            885600               13     5975
140727      F               0            907200               13    15272

[140728 rows x 5 columns]

در این مرحله به کمک کتاب‌خانه `datetime` پیش‌پردازش لازم را روی داده انجام داده و ستون های جدیدی به آن اضافه می‌کنید.

In [5]:
stime = "01/06/2019"
time_origin = datetime.strptime(stime, "%d/%m/%Y").timestamp()

In [6]:
interactions['interaction_time_absolute'] = interactions['interaction_time'].map(lambda x : datetime.fromtimestamp(time_origin + int(x)))

In [7]:
interactions

,action,application_id,interaction_time,notification_id,user_id,interaction_time_absolute
0,F,1,4489200,79,665,2019-07-22 23:00:00
1,F,1,4489200,79,6280,2019-07-22 23:00:00
2,F,1,4388400,78,14774,2019-07-21 19:00:00
3,F,1,4410000,78,3152,2019-07-22 01:00:00
4,C,1,4410000,72,3633,2019-07-22 01:00:00
...,...,...,...,...,...,...
140723,F,0,993600,13,14760,2019-06-12 12:00:00
140724,F,0,928800,13,2096,2019-06-11 18:00:00
140725,F,0,900000,13,11308,2019-06-11 10:00:00
140726,F,0,885600,13,5975,2019-06-11 06:00:00
140727,F,0,907200,13,15272,2019-06-11 12:00:00

 در این قسمت در تابع نگاشت باید از روی ورودی ساعت آن‌را استخراج کنید

In [13]:
interactions['interaction_hour'] = interactions['interaction_time_absolute'].dt.hour

In [14]:
interactions

,action,application_id,interaction_time,notification_id,user_id,interaction_time_absolute,interaction_hour
0,F,1,4489200,79,665,2019-07-22 23:00:00,23
1,F,1,4489200,79,6280,2019-07-22 23:00:00,23
2,F,1,4388400,78,14774,2019-07-21 19:00:00,19
3,F,1,4410000,78,3152,2019-07-22 01:00:00,1
4,C,1,4410000,72,3633,2019-07-22 01:00:00,1
...,...,...,...,...,...,...,...
140723,F,0,993600,13,14760,2019-06-12 12:00:00,12
140724,F,0,928800,13,2096,2019-06-11 18:00:00,18
140725,F,0,900000,13,11308,2019-06-11 10:00:00,10
140726,F,0,885600,13,5975,2019-06-11 06:00:00,6
140727,F,0,907200,13,15272,2019-06-11 12:00:00,12

 در این قسمت در تابع نگاشت باید از روی ورودی روز هفته آن‌را استخراج کنید 
حواستان باشد که روز هفته ای را که تابع مربوطه در کتابخانه `datetime` به عنوان خروجی می‌دهد برای هفته‌ای که با   شنبه آغاز می‌شود معتبر نیست :)

In [15]:
interactions['interaction_dow'] = interactions['interaction_time_absolute'].map(lambda x : x.weekday())

In [16]:
interactions

,action,application_id,interaction_time,notification_id,user_id,interaction_time_absolute,interaction_hour,interaction_dow
0,F,1,4489200,79,665,2019-07-22 23:00:00,23,0
1,F,1,4489200,79,6280,2019-07-22 23:00:00,23,0
2,F,1,4388400,78,14774,2019-07-21 19:00:00,19,6
3,F,1,4410000,78,3152,2019-07-22 01:00:00,1,0
4,C,1,4410000,72,3633,2019-07-22 01:00:00,1,0
...,...,...,...,...,...,...,...,...
140723,F,0,993600,13,14760,2019-06-12 12:00:00,12,2
140724,F,0,928800,13,2096,2019-06-11 18:00:00,18,1
140725,F,0,900000,13,11308,2019-06-11 10:00:00,10,1
140726,F,0,885600,13,5975,2019-06-11 06:00:00,6,1
140727,F,0,907200,13,15272,2019-06-11 12:00:00,12,1

# کار کردن با `interaction_hour`

 با توابع `groupby` و `agg` می‌توانید داده را بر اساس متغیرهای مختلف گروه‌بندی کرده و روی نتیجه آن توابع مختلفی اعمال نمایید.

In [ ]:
actions = interactions.groupby(['action', 'interaction_hour']).agg({'action':'count'})

In [ ]:
actions

In [ ]:
notifs_clicked = np.array(actions.loc['C']['action'].values)
notifs_failed = np.array(actions.loc['F']['action'].values)
notifs_count = notifs_clicked + notifs_failed
plt.scatter(range(24), notifs_clicked, c='g')
plt.scatter(range(24), notifs_failed, c='r')

In [ ]:
plt.plot(notifs_count, c='b')
plt.plot(notifs_clicked, c='g')
plt.plot(notifs_failed, c='r')
plt.show()

In [ ]:
hit_rate = notifs_clicked / (notifs_clicked + notifs_failed)
plt.plot(hit_rate)
plt.show()

ستونی با نام `hour_hit_rate` به داده اضافه می‌کنید که نشان‌دهنده‌ی درصد موفقیت اعلان‌هایی است که در آن ساعت فرستاده شده‌اند.

In [ ]:
interactions['hour_hit_rate'] = interactions['interaction_hour'].map(lambda x : hit_rate[x])

# کار کردن با `interaction_dow`

 با توابع `groupby` و `agg`  داده را بر اساس متغیرهای `action` و `interaction_dow` گروه‌بندی کرده و تعداد هر دسته را بشمارید.

In [ ]:
#actions = #TO-DO

مانند قسمت قبل اعلان‌های موفق و ناموفق را برای هر روز هفته استخراج کرده و نمودارهای مربوطه را رسم نمایید.

In [ ]:
notifs_clicked = #TO-DO
notifs_failed = #TO-DO
notifs_count = notifs_clicked + notifs_failed
#plt.scatter()
#plt.scatter()

In [ ]:
plt.plot(notifs_count, 'b')
plt.plot(notifs_clicked, c='g')
plt.plot(notifs_failed, c='r')
plt.show()

In [ ]:
hit_rate = notifs_clicked / (notifs_clicked + notifs_failed)
plt.plot(hit_rate)
plt.show()

ستونی با نام `dow_hit_rate` به داده اضافه می‌کنید که نشان‌دهنده‌ی درصد موفقیت اعلان‌هایی است که در آن روز از هفته فرستاده شده‌اند.

In [ ]:
interactions['dow_hit_rate'] = interactions['interaction_dow'].map(lambda x : hit_rate[x])

# کار کردن با `application_id`

 با توابع `groupby` و `agg`  داده را بر اساس متغیرهای `action` و `application_id` گروه‌بندی کرده و تعداد هر دسته را بشمارید.

In [ ]:
actions = interactions.groupby(['action', 'application_id']).agg({'action':'count'})

In [ ]:
notifs_clicked = np.array(actions.loc['C']['action'].values)
notifs_failed = np.array(actions.loc['F']['action'].values)
notifs_count = notifs_clicked + notifs_failed

In [ ]:
hit_rate = notifs_clicked / (notifs_clicked + notifs_failed)

ستونی با نام `app_id_hit_rate` به داده اضافه می‌کنید که نشان‌دهنده‌ی درصد موفقیت اعلان‌هایی است که از طرف آن برنامه فرستاده شده‌اند.

In [ ]:
interactions['app_id_hit_rate'] = interactions['application_id'].map(lambda x : hit_rate[x])

# محاسبه درصد موفقیت اعلان‌هایی که به هر کاربر فرستاده شده‌اند

به کمک اعمال تابع `numpy.unique` روی `interactions['user_id']`، .اعضای آن‌را یکتا می‌کنیم

In [ ]:
user_ids = np.unique(interactions['user_id'])

تابع `get_user_id_hit_rate` شناسه کاربر را به عنوان ورودی دریافت کرده و درصد موفقیت اعلان‌هایی که به این کاربر فرستاده شده را به عنوان خروجی باز می‌گرداند.
مثلا اگر کاربری با شناسه کاربری `user_id` صد اعلان دریافت کرده و روی پنجاه تا کلیک کرده است، این تابع عدد `0.5`را به عنوان خروجی باز می‌گرداند.

In [ ]:
def get_user_id_hit_rate(user_id):
    #TO-DO
    pass

کتاب‌خانه `tqdm` برای نشان دادن درصد پیشرفت حلقه به کار می‌رود.

In [ ]:
user_id_hit_rate = {}
for user_id in tqdm(user_ids):
    user_id_hit_rate[user_id] = get_user_id_hit_rate(user_id)

ستونی با نام `user_id_hit_rate` به داده اضافه می‌کنید که نشان‌دهنده‌ی درصد موفقیت اعلان‌هایی است که برای کاربر این اعلان، فرستاده شده است.

In [ ]:
interactions['user_id_hit_rate'] = interactions['user_id'].map(lambda user_id : user_id_hit_rate[user_id])

# کاهش بعد

In [ ]:
x = interactions[['hour_hit_rate', 'dow_hit_rate', 'app_id_hit_rate', 'user_id_hit_rate']]

ویژگی `action` را به کمک تابع `lambda` از فضای C, F به فضای صفر و یک بنگارید.
یعنی

- C -> 1
- F -> 0

In [ ]:
y = interactions['action'].map(#TO-DO)

ابتدا به کمک تابع `StandardScaler` ورودی را normal کرده و سپس به کمک تابع `PCA` آن‌را به دو متغیر، کاهش بعد دهید.

نکته مهم:

این دو ورودی تابع `PCA` را با این مقادیر تنظیم کنید.
```python 
svd_solver = 'full'
random_state = 0
```

In [ ]:
x_std = #TO-DO
pca = #TO-DO
x_pca = #TO-DO

حال با رسم نمودار مشاهده کنید که فرایند طی شده چقدر در جداسازی دو دسته از داده موفق بوده است. در ادامه دوره می‌توانید با روش‌های مختلف دسته‌بندی، داده را دسته‌بندی کنید:)

In [ ]:
plt.scatter(x_pca[:,0], x_pca[:,1], c=y)

با این دستور `x_pca` را ذخیره کنید تا با ارزیابی آن از این مرحله عبور کنید.

In [ ]:
np.save('x_pca.npy', x_pca)